<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ur5_transmissions">

    <transmission name="joint_1_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="joint1_motor" role="joint1_motor" />
        <joint name="shoulder_pan_joint" role="shoulder_pan_joint">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="joint_2_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="joint2_motor" role="joint2_motor" />
        <joint name="shoulder_lift_joint" role="shoulder_lift_joint">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="joint_3_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="joint3_motor" role="joint3_motor" />
        <joint name="elbow_joint" role="elbow_joint">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="joint_4_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="joint4_motor" role="joint4_motor" />
        <joint name="wrist_1_joint" role="wrist_1_joint">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="joint_5_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="joint5_motor" role="joint5_motor" />
        <joint name="wrist_2_joint" role="wrist_2_joint">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="joint_6_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="joint6_motor" role="joint6_motor" />
        <joint name="wrist_3_joint" role="wrist_3_joint">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="r_thumbCMC_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="r_thumbCMC_motor" role="r_thumbCMC_motor" />
        <joint name="r_thumbCMC" role="r_thumbCMC">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="r_thumbMCP_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="r_thumbMCP_motor" role="r_thumbMCP_motor" />
        <joint name="r_thumbMCP" role="r_thumbMCP">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="r_indexMCP_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="r_indexMCP_motor" role="r_indexMCP_motor" />
        <joint name="r_indexMCP" role="r_indexMCP">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="r_middleMCP_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="r_middleMCP_motor" role="r_middleMCP_motor" />
        <joint name="r_middleMCP" role="r_middleMCP">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="r_ringMCP_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="r_ringMCP_motor" role="r_ringMCP_motor" />
        <joint name="r_ringMCP" role="r_ringMCP">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="r_littleMCP_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="r_littleMCP_motor" role="r_littleMCP_motor" />
        <joint name="r_littleMCP" role="r_littleMCP">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

        <transmission name="r_indexPIP_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="r_indexPIP_motor" role="r_indexPIP_motor" />
        <joint name="r_indexPIP" role="r_indexPIP">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="r_middlePIP_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="r_middlePIP_motor" role="r_middlePIP_motor" />
        <joint name="r_middlePIP" role="r_middlePIP">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="r_ringPIP_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="r_ringPIP_motor" role="r_ringPIP_motor" />
        <joint name="r_ringPIP" role="r_ringPIP">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>

    <transmission name="r_littlePIP_trans">
        <plugin>transmission_interface/SimpleTransmission</plugin>
        <actuator name="r_littlePIP_motor" role="r_littlePIP_motor" />
        <joint name="r_littlePIP" role="r_littlePIP">
            <mechanical_reduction>1.0</mechanical_reduction>
        </joint>
    </transmission>


  </xacro:macro>

</robot>
