<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="arm_ros2_control" params="mode">

    <!-- ROS2 Control Plugin-->

    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
        <parameters>$(find moying_arm_bringup)/config/moying_arm_controllers.yaml</parameters>
      </plugin>
    </gazebo>

    <!-- ROS2 Control Hardware Interface-->

    <ros2_control name="Arm_Hardware_Interface" type="system">

      <hardware>
        <xacro:if value="${mode=='gazebo'}">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:if>
        <xacro:if value="${mode=='real'}">
          <plugin>moying_arm_hardware/ArmHardwareInterface</plugin>
          <param name="config_file">/config/arm_driver.yaml</param>
        </xacro:if>
      </hardware>

      <joint name="elfin_joint1">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="effort">
          <param name="min">-200.0</param>
          <param name="max">200.0</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>

        <param name="initial_position">0.0</param>

      </joint>

      <joint name="elfin_joint2">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="effort">
          <param name="min">-200.0</param>
          <param name="max">200.0</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>

        <param name="initial_position">0.0</param>

      </joint>

      <joint name="elfin_joint3">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="effort">
          <param name="min">-200.0</param>
          <param name="max">200.0</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>

        <param name="initial_position">0.0</param>

      </joint>

      <joint name="elfin_joint4">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="effort">
          <param name="min">-200.0</param>
          <param name="max">200.0</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>

        <param name="initial_position">0.0</param>

      </joint>

      <joint name="elfin_joint5">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="effort">
          <param name="min">-200.0</param>
          <param name="max">200.0</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>

        <param name="initial_position">0.0</param>

      </joint>

      <joint name="elfin_joint6">

        <command_interface name="position">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="velocity">
          <param name="min">-3.14</param>
          <param name="max">3.14</param>
        </command_interface>

        <command_interface name="effort">
          <param name="min">-200.0</param>
          <param name="max">200.0</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>

        <param name="initial_position">0.0</param>

      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
